@import "tailwindcss";

@theme {
  --color-button: #13314b;
  --color-dark: #181a1e;
  --color-grey: #4e545f;

  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-rubik: var(--font-rubik), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:root {
  --bc: rgba(22, 14, 51, 1);
  --button: rgba(88, 156, 255, 1);
  --grey: rgba(78, 84, 95, 1);
  --primitives-color-neutral-darkest: rgba(0, 0, 0, 1);
  --primitives-color-neutral-lighter: rgba(204, 204, 204, 1);
  --primitives-color-white: rgba(255, 255, 255, 1);
  --purple: rgba(22, 14, 51, 1);
  --spacing-sizing-container-container-large: 1280px;
  --spacing-sizing-max-width-max-width-large: 768px;
  --spacing-sizing-max-width-max-width-medium: 560px;
  --spacing-sizing-max-width-max-width-xsmall: 400px;
  --spacing-sizing-page-padding-padding-global: 64px;
  --spacing-sizing-section-padding-padding-section-large: 112px;
  --spacing-sizing-section-padding-padding-section-medium: 80px;
  --UI-styles-radius-large: 0px;
  --UI-styles-radius-medium: 0px;
  --UI-styles-radius-small: 0px;
  --UI-styles-stroke-divider-width: 1px;
  --white: rgba(255, 255, 255, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-spacing-sizing-mode="desktop"] {
  --spacing-sizing-page-padding-padding-global: 64px;
  --spacing-sizing-section-padding-padding-section-large: 112px;
  --spacing-sizing-section-padding-padding-section-medium: 80px;
}

[data-spacing-sizing-mode="mobile"] {
  --spacing-sizing-page-padding-padding-global: 20px;
  --spacing-sizing-section-padding-padding-section-large: 64px;
  --spacing-sizing-section-padding-padding-section-medium: 48px;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {

  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}